{% extends 'base.html' %}

{% block title %}Quem Somos{% endblock %}

{% block content %}
    <h1>Quem Somos</h1>
    <p>A Respira+ é uma iniciativa cívica dedicada a monitorar e combater a poluição em nossa comunidade. Acreditamos que a transparência e a colaboração são as chaves para um futuro mais sustentável.</p>
    
    <h2>Nossa Missão</h2>
    <p>Capacitar cidadãos para que denunciem anonimamente incidentes de poluição do ar, água e solo, transformando esses dados em relatórios acionáveis para as autoridades competentes.</p>

    <h2>Nossa Visão</h2>
    <p>Ser a plataforma de referência para a conscientização ambiental e a mudança de políticas públicas no Brasil, promovendo a saúde e a qualidade de vida através de um meio ambiente mais limpo.</p>
{% endblock content %}